body {
    background-color: #202124;
    font-family: Arial, sans-serif;
}

#weatherInfo {
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100%;
    max-width: 400px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
    border-radius: 40px;
    background-color: rgba(24, 23, 23, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainInfo {
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

#weatherInfo {
    width: 50%;
    height: 50%;
    margin: 0 auto
}

